[user]
	name = Ricardo Mendes
	email = mendes.r@gmx.com
[core]
	autocrlf = input
	editor = nvim
	ignorecase = false
[alias]
	hist = log --all --graph --decorate --oneline
	a = add
	aa = add .
	s = status
	co = checkout
	cob = chcekout -b
	br = branch
	cm = commit -m
	cma = commit --amend -m
	bra = branch -a  --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:blue)(%(committerdate:short)) [%(authorname)]' --sort=-committerdate
	alias = config --get-regexp ^alias\\.
	last = log -1 HEAD
	change = diff-tree --ext-diff -p 
[pull]
	rebase = false
[help]
	autocorrect = 1
